<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Me</h1>
    <p>
        I am a result driven, software developer eager to solve challenges and develop interactive solutions. Experienced in coding and debugging, with skills honed through a diverse set of projects. passionate about developing scalable web applications, interactive solutions, and tackling complex technological challenges to deliver impactful solutions.
    </p>

    <br>

    <h2>Technologies</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Git</li>
    </ul>

    
</body>
</html>