<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Me</h1>
    <p>
        I am a result driven, software developer eager to solve challenges and develop interactive solutions. Experienced in coding and debugging, with skills honed through a diverse set of projects. passionate about developing scalable web applications, interactive solutions, and tackling complex technological challenges to deliver impactful solutions.
    </p>

    <br>

    <h2>Technologies</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Git</li>
    </ul>

    <h2>EDUCATION</h2>
    <ul>
        <li><b>ICT-Programming</b>, Bahrain Polytechnic, Bahrain                                         Expected: Jan 2026</li>
        <li><b>Software Engineering Bootcamp Course</b>, General Assembly, Bahrain                    Jun 2025</li>
    </ul>

    <h2>Future Jobs</h2>
    <ul>
        <li>Software Developer</li>
        <Li>Full-Stack Web Developer</Li>
        <Li>Mobile Developer</Li>
        <Li>Freelancer</Li>
    </ul>

    <a href="/">Homepage</a>
</body>
</html>